/**********GLOBAL**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #23272a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}

.btn.vaiolet {
  background-color: #8ea1e2;
  color: white;
}

/**********HEADER**********/

header {
  background-color: #3161E0;
  padding: 20px 0;
}

.logo img {
  width: 100%;
}

#accedi {
  text-align: right;
}

.logo, header nav, #accedi {
  float: left;
}

.logo, #accedi {
  width: 10%;
}

header nav {
  width: 80%;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header nav ul li a:hover{
  text-decoration: underline;
}

/**********JUMBOTRON**********/

.jumbotron{
  height: 500px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  margin-bottom: 20px;
}

.jumbotron .container {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  color: white;
}

.jumbotron h1{
  font-size: 53px;
  margin-bottom: 40px;
}

.jumbotron p{
  margin-bottom: 30px;
  line-height: 35px;
}

.jumbotron .btn:first-of-type{
  margin-right: 20px;
}

.btn.big{
  font-size: 18px;
  padding: 15px 20px;
}

.btn.black{
  background-color: black;
  color: white;
}

.btn:hover{
  color:cornflowerblue;
}

/**********MAIN**********/
section {
  margin-bottom: 25px;
}
section:nth-of-type(2), section:nth-of-type(4) {
  background-color: #f6f6f6;
}

 /* layout clearfix */
.img-main, .text-main {
  float: left;
}

.img-main {
  width: 60%;
}

.text-main {
  width: 25%;
}

.text-main.text-right {
  margin-left: 15%;  
}

.text-main.text-left {
  margin-right: 15%;  
}
 /* /layout clearfix */

/* image and text */
.img-main img {
  width: 100%;  
}

.text-main {
  padding-top: 30px;
}

/* section four */
section:nth-of-type(4) {
  margin-bottom: 5px;
}

section:nth-of-type(4) .position-center {
  text-align: center;
}

section:nth-of-type(4) img {
  width: 100%;
}

main .btn.vaiolet{
  padding: 10px 20px;
  margin: 10px;
}

section:nth-of-type(4) .back h2{
  background-image: url(../img/stars.svg);
  margin: 0 auto;
  background-size: contain;
}

/**********FOOTER**********/
footer {
  background-color: #23272a;
  padding: 50px 0;
}

/* top footer */

 /* layout clearfix */
footer section, aside {
  float: left;
}

footer section {
  width: 30%;
}

footer aside {
  width: calc(70%/4);
}

/* general */
footer h2, footer aside li:first-child {
  color: #7289da;
}

footer li {
  list-style-type: none;
  padding: 2px;
}

footer a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

footer a:hover{
  text-decoration: underline;
}

/* section */
footer span {
  color: white;
  font-size: 14px;
}

footer section img {
  width: 10%;
  vertical-align: middle;
  margin: 15px 0;
}

footer section li {
  display: inline-block;
  padding: 5px;
  font-size: 10px;
}

/* aside */
footer aside li:first-child {
  font-size: 14px;
  font-weight: bold;
}

/* button footer */
.footer-bottom {
  border-top: 2px solid #526192;
  margin-top: 25px;
  padding: 25px 0;
}

footer .btn.vaiolet{
  padding: 10px 15px;
}

.footer-bottom a:first-child {
  float: left;
}

.footer-bottom a:last-child {
  float: right;
}

