/**********GLOBAL**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney , Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #23272a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* style btn */
.btn {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 15px;
}

.btn.white {
  background-color: white;
  color: black;
}

.btn.vaiolet {
  background-color: #8ea1e2;
  color: white;
}

.btn.black {
  background-color: black;
  color: white;
}

.btn.big {
  font-size: 18px;
  padding: 14px 20px;
}

.btn:hover {
  color:cornflowerblue;
}

/**********HEADER**********/

header {
  background-color: #3161E0;
  padding: 20px 0;
}

/* menu with clearfix */
.logo, header nav, #accedi {
  float: left;
}

.logo, #accedi {
  width: 10%;
}

header nav {
  width: 80%;
  text-align: center;
}

.logo img {
  width: 100%;
}

#accedi {
  text-align: right;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header nav ul li a:hover{
  text-decoration: underline;
}

/**********JUMBOTRON**********/

.jumbotron {
  height: 500px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  margin-bottom: 25px;
}

.jumbotron .container {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  color: white;
}

.jumbotron h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

.jumbotron p {
  margin-bottom: 25px;
  line-height: 30px;
}

.jumbotron .btn:first-of-type {
  margin-right: 25px;
}

/**********MAIN**********/

main section {
  margin-bottom: 25px;
}

main section:nth-child(even) {
  background-color: #f6f6f6;
}

main h2 {
  font-weight: 900;
  margin-bottom: 20px;
}

main p {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
}

 /* layout clearfix */
.img-main, .text-main {
  float: left;
}

.img-main {
  width: 60%;
}

.text-main {
  width: 25%;
}

.text-main.text-right {
  margin-left: 15%;  
}

.text-main.text-left {
  margin-right: 15%;  
}

/* image and text */
.img-main img {
  width: 100%;  
}

.text-main {
  padding-top: 30px;
}

/* section four */
section:nth-of-type(4) .position-center {
  text-align: center;
}

.back {
  margin: 0 200px;
}

section:nth-of-type(4) img {
  width: 100%;
}

section:nth-of-type(4) h2 {
  padding-top: 25px;
}

section:nth-of-type(4) .back h2{
  background-image: url(../img/stars.svg);
  background-size: contain;
}

section:nth-of-type(4) {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/**********FOOTER**********/
footer {
  background-color: #23272a;
  padding: 50px 0;
}

/* top footer */

 /* layout clearfix */
footer section, aside {
  float: left;
}

footer section {
  width: 25%;
  margin-right: 5%;
}

footer aside {
  width: calc(70%/4);
}

/* general */
footer h2, footer aside li:first-child {
  color: #7289da;
}

footer li {
  list-style-type: none;
  padding: 2px;
}

footer a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

footer a:hover{
  text-decoration: underline;
}

/* section */
footer span {
  color: white;
  font-size: 14px;
}

footer section img {
  width: 10%;
  vertical-align: middle;
  margin: 15px 0;
}

footer section li {
  display: inline-block;
  padding: 5px;
  font-size: 10px;
}

/* aside */
footer aside li:first-child {
  font-size: 14px;
  font-weight: bold;
}

/* bottom footer */
.footer-bottom {
  border-top: 2px solid #526192;
  margin-top: 25px;
  padding: 25px 0;
}

.footer-bottom a:first-child {
  float: left;
}

.footer-bottom a:last-child {
  float: right;
}

